<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

	 <listeners>
        <listener class-name="listeners.TestListener"/>
    </listeners>
	
  <!-- Login Module -->
     <test name="Login Module Tests">
        <classes>
            <class name="tests.LoginTest"/>
        </classes>
    </test> 

    <!-- Notes Module -->
    <test name="Notes Tests">
        <classes>
            <class name="tests.NotesTest"/>
        </classes>
    </test> 
    
    <!-- Module 3: Form Interactions -->
    <test name="Form Interactions Module">
        <classes>
            <class name="tests.FormInteractionsTest"/>
        </classes>
    </test>

    <!-- Module 4: Alerts -->
    <test name="Alerts Module">
        <classes>
            <class name="tests.AlertsTest"/>
        </classes>
    </test>

    <!-- Module 5: Form Validation -->
    <test name="Form Validation Module">
        <classes>
            <class name="tests.FormValidationTest"/>
        </classes>
    </test>
</suite> <!-- Suite -->
